@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../images/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#phone {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;

    background: url('../images/frame-iphone.png') no-repeat;
}

section#socials {
    text-align: right;
}

section#socials img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#socials img:hover {
    border: 2px solid black;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0623);
    transition: transform .3s;
}

iframe#screen {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
